<div class="big__card__container">

<div class="big__card__image">
<img class="bc_photo" src="https://miro.medium.com/v2/resize:fit:4398/1*PuthyBD2JKLeDA6LYtmd2A.jpeg" alt="" srcset="" height="200px">
</div>

<div class="big__card__title">
  <h1><a href="http://x">Saiu a nova versão do Angular</a></h1>
</div>

<div class="big__card__description">
<p><a href="http://x" class="textlink">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus expedita at repellendus quis provident, repellat perspiciatis delectus esse doloribus dolore dicta obcaecati quia.</a>
</p>
</div>

</div>
