<div class = "menu__bar__container">
<ul>


  <li class="menu_item">
    <img src="https://ico.cppng.com/download/2020-06/66446-icons-computer-internet-email-gmail-download-free-image.png" alt="" srcset="" class="menu_img">
    <a href="mailto:riquelmyor@gmail.com" class="menu_text" target="_blank">E-mail</a>
    </li>




<li class="dot"><span>•</span></li>

<li class="menu_item">
  <img src="https://cdn-icons-png.flaticon.com/512/145/145807.png" alt="" srcset="" class="menu_img">
  <a href="https://www.linkedin.com/in/riquelmy-oliveira" target="_blank" class="menu_text">Linkedin</a>
</li>

<li class="dot"><span>•</span></li>

<li class="menu_item">
<img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" alt="" srcset="" class="menu_img">
<a href="https://github.com/riquelmy" target="_blank" class="menu_text">Github</a>
</li>

</ul>
</div>
